footer {
  text-align: center;
  margin: 2rem 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: var(--light-color);

  li {
    padding: 0 1rem;
  }
}

strong {
  color: var(--primary-color-dark);
}