.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 1.5rem;
  overflow: hidden;
}

.img-default {
  background-color: #556fb5;
  width: 100%;
  height: 100%;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 3rem;
  }
}

.content {
  background-color: #d4dbec;
  padding: 2rem;
  .header {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-between;
    h6 {
      font-size: 1.1rem;
    }
  }
  .footer {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .social-icons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 1.5rem;
    }

    .btn {
      background-color: #556fb5;
      border-radius: .25rem;
      font-size: .8rem;
      padding: .5rem 1.5rem;
      color: #FFF;
    }
  }
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: .25rem;
}

.skills-item {
  padding: .4rem .2rem;
  font-size: .6rem;
  background-color: #FFF;
  border: 1px solid #556fb5;
  border-radius: 4px;
}